  .face1 {
    width: 70px;
    height:93px;
    border-radius: 7%;
    float: left;
}

.box1 {
    padding: 2.5%;
    background-color: rgb(138, 238, 238);
}

.box2 {
    padding: 2.5%;
    background-color: rgb(147, 207, 174);
}

.box3 {
    padding: 2.5%;
    background-color: rgb(138, 238, 238);
}
.box4 {
    padding: 2.5%;
    background-color: rgb(147, 207, 174);
}
